<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AccionesDeMascota</servlet-name>
        <servlet-class>com.eduardolynch.veterinariaMVC.controlador.AccionesDeMascota</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccionesDeUsuario</servlet-name>
        <servlet-class>com.eduardolynch.veterinariaMVC.controlador.AccionesDeUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccionesDeFicha</servlet-name>
        <servlet-class>com.eduardolynch.veterinariaMVC.controlador.AccionesDeFicha</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccionesDeMascota</servlet-name>
        <url-pattern>/AccionesDeMascota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccionesDeUsuario</servlet-name>
        <url-pattern>/AccionesDeUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccionesDeFicha</servlet-name>
        <url-pattern>/AccionesDeFicha</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
